* {
	padding: 0;
	margin: 0;
}
/* NAVIGATION BAR*/

/* LANDING PAGE*/

/* MISSION STATEMENT*/
#mission-statement {
	text-align: center;
	font-family: Arial, sans-serif;
	padding: 150px;
}
/* TAKE ACTION 1*/

/* TAKE ACTION 2*/